include ../static/layout

body
  h2 Dashboard admin
  p FEATURES
    ul
      li 
        a(href='') Update profile
      li
        a(href='list') List users
  
  form(action='logout' method='post')
    input(type='submit', value='logout')
