include ../static/layout

body
  div(class='container')
    div(class='row')
      div(class='col-md-10')
        h2 Dashboard admin
        ul
          li
            a(href='') Update profile
          li
            a(href='list') List of participants
      
        form(action='logout' method='post')
          button(class='btn btn-primary', type='submit') Logout
