head
  title=title

body
  form(action='login', method='post')
    label Username
    input(type='text', name='username')
    br
    label Password
    input(type='password', name='password')
    br
    input(type='submit', value='login')
