include ../static/layout
head
  link(rel='stylesheet', href='/static/css/login.css')
  script(type='text/javascript')
    if("#{alert}" == 0) 
      | {alert("#{error}")}
    else if ("#{alert}" == -1)
      | {alert("#{error}")}
    

body
  div(class='container')
    form(action='login', method='post', class='form-signin')
      h2(class='form-signin-heading') Please log in
      label(for='inputEmail', class='sr-only') Username
      input(type='text', id='inputEmail', name='username', class='form-control' placeholder='your username' required autofocus)
      label(for='inputPassword', class='sr-only') Password
      input(type='password', id='inputPassword', name='password', class='form-control', placeholder='your password' required)
      button(class='btn btn-lg btn-primary btn-block', type='submit') Login
  p 
    center
      a(href='/admin') Back to main page
