include ../static/layout

body
  div(class='container')
    div(class='row')
      div(class='col-xs flex-xs-middle')
        center
          img(src='static/img/eureka.png', width='200px', height='200px' class='img-fluid')
          h2 Administrator page
          p
            a(href='admin/login' class='btn btn-primary') Login here
              
          
      
  
