doctype html
html.no-js
  head
    title Admin Home Page
    // Bootstrap
    link(href='/static/import/bootstrap/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='/static/import/bootstrap/css/bootstrap-responsive.min.css', rel='stylesheet', media='screen')
    link(href='/static/import/vendors/easypiechart/jquery.easy-pie-chart.css', rel='stylesheet', media='screen')
    link(href='/static/import/assets/styles.css', rel='stylesheet', media='screen')
    // HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    script(src='vendors/modernizr-2.6.2-respond-1.1.0.min.js')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') Admin Panel userCloud
          .nav-collapse.collapse
            ul.nav.pull-right
              li.dropdown
                a.dropdown-toggle(href='#', role='button', data-toggle='dropdown')
                  i.icon-user
                  |  Admin 
                  i.caret
                ul.dropdown-menu
                  li
                    a(tabindex='-1', href='profile') Profile
                  li.divider
                  li
                    a(tabindex='-1', href='logout') Logout
            ul.nav
              li.active
                a(href='#') Dashboard
          // /.nav-collapse
    .container-fluid
      .row-fluid
        #sidebar.span3
          ul.nav.nav-list.bs-docs-sidenav.nav-collapse.collapse
            li.active
              a(href='#')
                i.icon-chevron-right
                |  Dashboard
            li
              a(href='profile')
                i.icon-chevron-right
                |  Profile
            li
              a(href='list')
                i.icon-chevron-right
                |  Participants
            li
              a(href='owncloud')
                i.icon-chevron-right
                |  Ownclouds
        // /span
        #content.span9
          .row-fluid
            .navbar
              .navbar-inner
                ul.breadcrumb
                  i.icon-chevron-left.hide-sidebar
                    a(href='#', title='Hide Sidebar', rel='tooltip')  
                  i.icon-chevron-right.show-sidebar(style='display:none;')
                    a(href='#', title='Show Sidebar', rel='tooltip')  
                  li
                    a.active(href='#') Dashboard
          .row-fluid
            // block
            .block
              .navbar.navbar-inner.block-header
                .muted.pull-left General information
              .block-content.collapse.in
                .span3
                  .chart(data-percent='73') 73%
                  .chart-bottom-heading
                    span.label.label-info Visitors
                .span3
                  .chart(data-percent='53') 53%
                  .chart-bottom-heading
                    span.label.label-info Page Views
                .span3
                  .chart(data-percent='83') 83%
                  .chart-bottom-heading
                    span.label.label-info Users
                .span3
                  .chart(data-percent='13') 13%
                  .chart-bottom-heading
                    span.label.label-info Orders
            // /block
      hr
    // /.fluid-container
    script(src='/static/import/vendors/jquery-1.9.1.min.js')
    script(src='/static/import/bootstrap/js/bootstrap.min.js')
    script(src='/static/import/vendors/easypiechart/jquery.easy-pie-chart.js')
    script(src='/static/import/assets/scripts.js')
    script.
      $(function() {
      // Easy pie charts
      $('.chart').easyPieChart({animate: 1000});
      });
