doctype html
html
  head
    title=title
    // Bootstrap
    link(href='/static/import/bootstrap/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='/static/import/bootstrap/css/bootstrap-responsive.min.css', rel='stylesheet', media='screen')
    link(href='/static/import/assets/styles.css', rel='stylesheet', media='screen')
    //if lte IE 8
      script(language='javascript', type='text/javascript', src='vendors/flot/excanvas.min.js')
    // HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    script(src='/static/import/vendors/modernizr-2.6.2-respond-1.1.0.min.js')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') Admin Panel userCloud
          .nav-collapse.collapse
            ul.nav.pull-right
              li.dropdown
                a.dropdown-toggle(href='#', role='button', data-toggle='dropdown')
                  i.icon-user
                  |  Admin 
                  i.caret
                ul.dropdown-menu
                  li
                    a(tabindex='-1', href='#') Profile
                  li.divider
                  li
                    a(tabindex='-1', href='logout') Logout
            ul.nav
              li.active
                a(href='#') Profile
          // /.nav-collapse
    .container-fluid
      .row-fluid
        #sidebar.span3
          ul.nav.nav-list.bs-docs-sidenav.nav-collapse.collapse
            li
              a(href='home')
                i.icon-chevron-right
                |  Dashboard
            li.active
              a(href='#')
                i.icon-chevron-right
                |  Profile
            li
              a(href='list')
                i.icon-chevron-right
                |  Participants
            li
              a(href='ownclouds.html')
                i.icon-chevron-right
                |  Ownclouds
        // /span
        #content.span9
          // morris stacked chart
          .row-fluid
            // block
            .block
              .navbar.navbar-inner.block-header
                .muted.pull-left Your Profile
              .block-content.collapse.in
                .span12
                  form.form-horizontal
                    fieldset
                      legend Fill the form to change your profile
                      .control-group
                        label.control-label(for='focusedInput') Display name
                        .controls
                          input#focusedInput.input-xlarge.focused(type='text')
                      .control-group
                        label.control-label(for='focusedInput') Username
                        .controls
                          input#focusedInput.input-xlarge.focused(type='text')
                      .control-group
                        label.control-label(for='focusedInput') Password
                        .controls
                          input#focusedInput.input-xlarge.focused(type='password')
                      .form-actions
                        button.btn.btn-primary(type='submit') Save changes
                        &nbsp;
                        button.btn(type='reset') Cancel
            // /block
      hr
    // /.fluid-container
    link(href='/static/import/vendors/datepicker.css', rel='stylesheet', media='screen')
    link(href='/static/import/vendors/uniform.default.css', rel='stylesheet', media='screen')
    link(href='/static/import/vendors/chosen.min.css', rel='stylesheet', media='screen')
    link(href='/static/import/vendors/wysiwyg/bootstrap-wysihtml5.css', rel='stylesheet', media='screen')
    script(src='/static/import/vendors/jquery-1.9.1.js')
    script(src='/static/import/bootstrap/js/bootstrap.min.js')
    script(src='/static/import/vendors/jquery.uniform.min.js')
    script(src='/static/import/vendors/chosen.jquery.min.js')
    script(src='/static/import/vendors/bootstrap-datepicker.js')
    script(src='/static/import/vendors/wysiwyg/wysihtml5-0.3.0.js')
    script(src='/static/import/vendors/wysiwyg/bootstrap-wysihtml5.js')
    script(src='/static/import/vendors/wizard/jquery.bootstrap.wizard.min.js')
    script(type='text/javascript', src='/static/import/vendors/jquery-validation/dist/jquery.validate.min.js')
    script(src='/static/import/assets/form-validation.js')
    script(src='/static/import/assets/scripts.js')
    script.
      jQuery(document).ready(function() {
      FormValidation.init();
      });
      $(function() {
      $(".datepicker").datepicker();
      $(".uniform_on").uniform();
      $(".chzn-select").chosen();
      $('.textarea').wysihtml5();
      $('#rootwizard').bootstrapWizard({onTabShow: function(tab, navigation, index) {
      var $total = navigation.find('li').length;
      var $current = index+1;
      var $percent = ($current/$total) * 100;
      $('#rootwizard').find('.bar').css({width:$percent+'%'});
      // If it's the last tab then hide the last button and show the finish instead
      if($current >= $total) {
      $('#rootwizard').find('.pager .next').hide();
      $('#rootwizard').find('.pager .finish').show();
      $('#rootwizard').find('.pager .finish').removeClass('disabled');
      } else {
      $('#rootwizard').find('.pager .next').show();
      $('#rootwizard').find('.pager .finish').hide();
      }
      }});
      $('#rootwizard .finish').click(function() {
      alert('Finished!, Starting over!');
      $('#rootwizard').find("a[href*='tab1']").trigger('click');
      });
      });
