include ../static/layout

body
  div(class='container')
    div(class='row')
      div(class='col-md-10')
      h3 List of owncloud accounts
      p
      form(method='post')
        table(class='table table-striped')
          tr
          th No.
          th Email
          each account in accounts
            tr
              th=account.index
              td=account.username
        
    a(href='./home') Back to dashboard
