include ../static/layout

body
  div(class='container')
    div(class='row')
      div(class='col-md-10')
      h3 List of owncloud accounts
      p
      form(method='post')
        table(class='table table-striped')
          tr
          th Email
          each user in users
            tr
              td=user
        
    a(href='./home') Back to dashboard
