include ../static/layout

body
  div(class='container')
    div(class='row')
      div(class='col-md-10')
      h3 List of owncloud accounts
      p
      form(method='post')
        table(class='table table-striped')
          tr
          th No.
          th Email
          th Detail
          th Delete
          each account in accounts
            tr
              td=account.index
              td=account.username
              td
                a(href='./owncloud/#{account.username}', class='btn btn-primary', name='detail', value='detail') Detail
              td
                a(href='#' class='btn btn-danger' name='delete' value='delete') Delete
        
    a(href='./home') Back to dashboard
