doctype html
html
  head
    title= title + ' • userCloud'
    link(rel='stylesheet', href='/static/css/bootstrap.min.css')
    script(type="text/javascript", href='/static/js/bootstrap.min.js')
    meta(charset="utf-8")
  
  body
    #content
      block content
    block footer
      footer
    
