doctype html
html(lang='en')
  head
    title= title + ' • userCloud'
    
    //links
    link(rel='stylesheet', href='/static/css/bootstrap.min.css')
    link(rel='stylesheet', href='/static/css/login.css')
    script(type="text/javascript", href='/static/js/bootstrap.min.js')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    
    // meta
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
  
  body
    #content
      block content
    block footer
      footer
        
      
    
